nodered/node-red-data/.flows.json.backup
[{"id":"a274d783.b88e98","type":"tab","label":"Flow Principal","disabled":false,"info":""},{"id":"8293d049.3b1a8","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"14932040.829e8"}]}],"out":[{"x":960,"y":80,"wires":[{"id":"248ebbb1.0332d4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"50bd2945.e2b2e8","type":"subflow","name":"Subflow 4","info":"","in":[{"x":-20,"y":80,"wires":[{"id":"c69de0b1.df131"}]}],"out":[]},{"id":"e99d4db5.0bfe5","type":"subflow","name":"Subflow 5","info":"","in":[{"x":-20,"y":80,"wires":[{"id":"2dd2ce4e.ada022"}]}],"out":[]},{"id":"b3c6dcff.c0e96","type":"subflow","name":"Subflow 6","info":"","in":[{"x":40,"y":140,"wires":[{"id":"5cad61f8.227ef"}]}],"out":[{"x":680,"y":140,"wires":[{"id":"709f8816.7f8818","port":0}]}]},{"id":"b7d90688.6f0208","type":"subflow","name":"Subflow 7","info":"","in":[{"x":40,"y":160,"wires":[{"id":"4222a55f.fb5ecc"}]}],"out":[{"x":280,"y":160,"wires":[{"id":"4222a55f.fb5ecc","port":0}]}]},{"id":"1b99ef23.673c61","type":"subflow","name":"Subflow 8","info":"","in":[{"x":40,"y":200,"wires":[{"id":"a2e32fed.8075"}]}],"out":[{"x":660,"y":200,"wires":[{"id":"72ff788b.5ca7e8","port":0}]}]},{"id":"db72d704.fbb758","type":"subflow","name":"Subflow 9","info":"","in":[{"x":40,"y":120,"wires":[{"id":"cad98aa0.e912f8"}]}],"out":[]},{"id":"74ce3a8e.706474","type":"subflow","name":"Subflow 1 (2)","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"71b830c8.f7987"}]}],"out":[{"x":960,"y":80,"wires":[{"id":"61bc8236.8ff1bc","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"96e736e7.3656e8","type":"subflow","name":"Subflow 6 (2)","info":"","in":[{"x":40,"y":140,"wires":[{"id":"176dbf54.6941b1"}]}],"out":[{"x":680,"y":140,"wires":[{"id":"13433c6e.b85aa4","port":0}]}]},{"id":"fa69612a.8ec9a","type":"subflow","name":"Subflow 7 (2)","info":"","in":[{"x":40,"y":160,"wires":[{"id":"88fb0065.67d81"}]}],"out":[{"x":280,"y":160,"wires":[{"id":"88fb0065.67d81","port":0}]}]},{"id":"cf1b885e.0a62c8","type":"subflow","name":"Subflow 8 (2)","info":"","in":[{"x":40,"y":200,"wires":[{"id":"e686c475.93a228"}]}],"out":[{"x":660,"y":200,"wires":[{"id":"7162ba09.d1afd4","port":0}]}]},{"id":"4ba28156.8e2f88","type":"subflow","name":"Limpiar usuarios expirados en REDIS","info":"","category":"","in":[{"x":20,"y":120,"wires":[{"id":"2a75cb30.7fd264"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"55d3b446.72a5ac","type":"subflow","name":"Obtener token de usuario","info":"","category":"","in":[{"x":20,"y":140,"wires":[{"id":"54993d7.f41fa44"}]}],"out":[{"x":520,"y":140,"wires":[{"id":"d322c925.1dfad","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e09f0647.a10508","type":"subflow","name":"Verificar token","info":"","category":"","in":[{"x":20,"y":100,"wires":[{"id":"54b9eba4.9e37dc"}]}],"out":[{"x":460,"y":100,"wires":[{"id":"c6ee7886.4093b","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d844c12b.f9f0d8","type":"subflow","name":"Borrar clave en REDIS","info":"","category":"","in":[{"x":20,"y":120,"wires":[{"id":"4322fd6b.340f0c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"e172c3ca.a78e9","type":"mongodb-config","z":"","hostname":"172.20.0.3","port":"27017","db":"practico_soa_auth_token","name":""},{"id":"b7397635.946808","type":"redis-config","z":"","name":"Redis Server Config","options":"{\"host\":\"172.20.0.4\",\"port\":6379}","cluster":false,"optionsType":"json"},{"id":"24da9bc7.75e1f4","type":"JsonWebToken_config","z":"","name":"JWT Config","secret":"soaauthtoken"},{"id":"1793ccd6.b67a63","type":"mongodb3","z":"","uri":"mongodb://172.20.0.3:27017/practico_soa_auth_token","name":"MongoDB Config","options":"","parallelism":"-1"},{"id":"7e69972.3524768","type":"mongodb-config","z":"","hostname":"172.20.0.3","port":"27017","db":"practico_soa_auth_token","name":""},{"id":"eba27e13.ee52c","type":"JsonWebToken_config","z":"","name":"JWTConfig","secret":"soaauthtoken"},{"id":"6f587f06.ca847","type":"redis-config","z":"","name":"Redis Server Config","options":"{\"host\":\"172.20.0.4\",\"port\":6379}","cluster":false,"optionsType":"json"},{"id":"737a1466.f9d72c","type":"redis-config","z":"","name":"Local","options":"{\"host\":\"172.20.0.4\",\"port\":6379}","cluster":false,"optionsType":"json"},{"id":"8340c88e.48c618","type":"ui_base","z":"a274d783.b88e98","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7647721c.af4f6c","type":"http in","z":"a274d783.b88e98","name":"[POST] Login usuarios","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["8e124859.429f58"]]},{"id":"2f910274.6c884e","type":"http in","z":"a274d783.b88e98","name":"[GET] Listar usuarios","url":"/usuarios","method":"get","upload":false,"swaggerDoc":"","x":180,"y":640,"wires":[["9cac69b7.dd8548"]]},{"id":"3b2218c6.ad6678","type":"http in","z":"a274d783.b88e98","name":"[GET] Obtener usuario actual","url":"/usuarios/actual","method":"get","upload":false,"swaggerDoc":"","x":200,"y":960,"wires":[["aba7098.57235f8"]]},{"id":"bf202357.67474","type":"http in","z":"a274d783.b88e98","name":"[POST] Agregar usuario","url":"/usuarios","method":"post","upload":false,"swaggerDoc":"","x":180,"y":1280,"wires":[["2e4c0927.f355a6"]]},{"id":"255edd18.fac0b2","type":"http in","z":"a274d783.b88e98","name":"[PUT] Cambiar Password","url":"/usuarios/password","method":"put","upload":false,"swaggerDoc":"","x":190,"y":2020,"wires":[["6c2fc2bb.5570cc"]]},{"id":"2f428239.b6849e","type":"http in","z":"a274d783.b88e98","name":"[GET] Listar Roles","url":"/usuarios/roles","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2780,"wires":[["8fdf5851.522a88"]]},{"id":"b2286f70.b6423","type":"http in","z":"a274d783.b88e98","name":"[DELETE] Eliminar Rol","url":"/usuarios/:username/roles/:role","method":"delete","upload":false,"swaggerDoc":"","x":180,"y":3580,"wires":[["ffbb1e9f.94e33"]]},{"id":"c8194cab.1fc5a","type":"http in","z":"a274d783.b88e98","name":"[POST] Agregar Rol","url":"/usuarios/:username/roles","method":"post","upload":false,"swaggerDoc":"","x":170,"y":3200,"wires":[["4a209de6.28fca4"]]},{"id":"df3f114a.3ce06","type":"http in","z":"a274d783.b88e98","name":"[GET] Checktoken","url":"/checktoken/:token","method":"get","upload":false,"swaggerDoc":"","x":170,"y":3920,"wires":[["2115923b.eb346e"]]},{"id":"c2b945ab.7b6e88","type":"http in","z":"a274d783.b88e98","name":"[PUT] Desbloquear Cuenta","url":"/usuarios/:username/unlock","method":"put","upload":false,"swaggerDoc":"","x":190,"y":2540,"wires":[["781bfeb2.2e3a8"]]},{"id":"30d4ea5b.748ba6","type":"http in","z":"a274d783.b88e98","name":"[PUT] Bloquear Cuenta","url":"/usuarios/:username/lock","method":"put","upload":false,"swaggerDoc":"","x":180,"y":2300,"wires":[["fed512b8.27603"]]},{"id":"5590fd5a.6b0264","type":"http response","z":"50bd2945.e2b2e8","name":"[403] Token invalido","statusCode":"","headers":{},"x":460,"y":80,"wires":[]},{"id":"8e124859.429f58","type":"function","z":"a274d783.b88e98","name":"Verificar body de la peticion","func":"var body = msg.req.body;\n\nif (!body) {\n    msg.payload = { \"error\": \"El cuerpo de la peticion no debe estar vacio.\" };\n    msg.statusCode = 400;\n    return [msg,null];\n}\n\nif ( Object.keys(body).length != 2 ||\n   !( Object.keys(body).includes(\"usuario\") && \n     Object.keys(body).includes(\"password\") \n   )) {\n    msg.payload = { \"error\": \"Deben incluirse solamente los campos usuario y password en la peticion.\" };\n    msg.statusCode = 400;\n    return [msg, null];\n}\n\nif ( body.usuario.length === 0 || \n     body.password.length === 0) {\n    msg.payload = { \"error\": \"Los campos usuario y password no pueden estar vacios.\" };\n    msg.statusCode = 400;\n    return [msg,null];\n}\n\nmsg.payload = { \"usuario\": body.usuario, \"password\": body.password };\n\nreturn [null,msg];","outputs":2,"noerr":0,"x":440,"y":200,"wires":[["e356b871.c56a68"],["ebb0daa0.282438"]],"outputLabels":["BAD request","request OK"]},{"id":"e356b871.c56a68","type":"http response","z":"a274d783.b88e98","name":"[400] Http Response Error","statusCode":"","headers":{},"x":710,"y":140,"wires":[]},{"id":"14932040.829e8","type":"change","z":"8293d049.3b1a8","name":"Guardar payload original","rules":[{"t":"set","p":"payloadOriginal","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payloadOriginal.password","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["cfb69b6a.ec56f8"]]},{"id":"248ebbb1.0332d4","type":"change","z":"8293d049.3b1a8","name":"Setear consulta a BD Mongo","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"usuario\": payloadOriginal.usuario,\t   \"password\": payload,\t   \"cuentaHabilitada\": true\t}","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"},{"t":"delete","p":"payloadOriginal","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":80,"wires":[[]]},{"id":"f0f0633e.7ed2b","type":"switch","z":"a274d783.b88e98","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":220,"wires":[["2f3bef0d.a9c1b"],["77db8f57.68a5d"]]},{"id":"ebb0daa0.282438","type":"subflow:8293d049.3b1a8","z":"a274d783.b88e98","name":"Generar consulta a BD Mongo","env":[],"x":730,"y":220,"wires":[["4b490ef7.5dd1e"]]},{"id":"aaa16564.190158","type":"comment","z":"a274d783.b88e98","name":"[400] Bad Request","info":"[400] Bad Request","x":690,"y":100,"wires":[]},{"id":"66b9d04f.e9e48","type":"comment","z":"a274d783.b88e98","name":"Request OK","info":"Request OK","x":670,"y":260,"wires":[]},{"id":"5a2a792d.0b29a8","type":"comment","z":"a274d783.b88e98","name":"Usuario no encontrado en BD","info":"","x":1380,"y":140,"wires":[]},{"id":"2115923b.eb346e","type":"function","z":"a274d783.b88e98","name":"Leer token","func":"var token=msg.req.params.token;\nmsg.token=token;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":3920,"wires":[["89274be4.a81378"]]},{"id":"cda2922f.03","type":"http response","z":"e99d4db5.0bfe5","name":"[200] Token valido","statusCode":"","headers":{},"x":430,"y":80,"wires":[]},{"id":"c69de0b1.df131","type":"change","z":"50bd2945.e2b2e8","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"403 Forbidden","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"403","tot":"num"},{"t":"delete","p":"error","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["5590fd5a.6b0264"]]},{"id":"2dd2ce4e.ada022","type":"change","z":"e99d4db5.0bfe5","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payloadOriginal","pt":"flow","to":"token","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"200 OK","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"num"},{"t":"delete","p":"error","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":80,"wires":[["cda2922f.03"]]},{"id":"37a5d452.e0200c","type":"switch","z":"a274d783.b88e98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1830,"y":260,"wires":[["aeb16e65.1b03c"],["9f364597.1595b8"]]},{"id":"eb0e75df.c39a38","type":"comment","z":"a274d783.b88e98","name":"Usuario encontrado en BD","info":"","x":1370,"y":300,"wires":[]},{"id":"77db8f57.68a5d","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"payloadOriginal","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"payloadOriginal.usuario","tot":"msg"},{"t":"delete","p":"collection","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":260,"wires":[["7336f7f7.d40f78"]]},{"id":"aeb16e65.1b03c","type":"subflow:b3c6dcff.c0e96","z":"a274d783.b88e98","name":"Generar Token JWT","env":[],"x":2020,"y":180,"wires":[["f62ba6d1.8724d8"]]},{"id":"f62ba6d1.8724d8","type":"subflow:b7d90688.6f0208","z":"a274d783.b88e98","name":"Guardar token en REDIS","env":[],"x":2270,"y":180,"wires":[["fa6d305e.2d0b6"]]},{"id":"b13dead8.c6a6e8","type":"comment","z":"a274d783.b88e98","name":"Token de usuario no existe en REDIS","info":"","x":2070,"y":140,"wires":[]},{"id":"e551e344.a9c7f","type":"comment","z":"a274d783.b88e98","name":"Token de usuario encontrado en REDIS","info":"","x":2070,"y":360,"wires":[]},{"id":"9f364597.1595b8","type":"subflow:1b99ef23.673c61","z":"a274d783.b88e98","name":"Verificar validez del token","env":[],"x":2030,"y":320,"wires":[["df460423.0a1028"]]},{"id":"709f8816.7f8818","type":"change","z":"b3c6dcff.c0e96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"},{"t":"delete","p":"payloadOriginal","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[[]]},{"id":"5cad61f8.227ef","type":"change","z":"b3c6dcff.c0e96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payloadOriginal","tot":"msg"},{"t":"set","p":"tokenExpTime","pt":"msg","to":"$floor($millis()/1000)+1800","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\t   \"usuario\": payload.usuario,\t   \"roles\": payload.roles,\t   \"exp\": tokenExpTime\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":140,"wires":[["b579fb09.7d6ed8"]]},{"id":"724958d.533d4a8","type":"http response","z":"db72d704.fbb758","name":"[200] Http Response OK","statusCode":"","headers":{},"x":410,"y":120,"wires":[]},{"id":"cad98aa0.e912f8","type":"change","z":"db72d704.fbb758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"access_token\": token}","tot":"jsonata"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":120,"wires":[["724958d.533d4a8"]]},{"id":"72ff788b.5ca7e8","type":"http request","z":"1b99ef23.673c61","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":200,"wires":[[]]},{"id":"df460423.0a1028","type":"switch","z":"a274d783.b88e98","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2230,"y":320,"wires":[["327f60bb.774e1"],["fe2cf020.ccf6b"]]},{"id":"f53902b1.0b18e","type":"comment","z":"a274d783.b88e98","name":"Token valido","info":"","x":2390,"y":240,"wires":[]},{"id":"1b701463.029fcc","type":"comment","z":"a274d783.b88e98","name":"Token expirado","info":"","x":2400,"y":400,"wires":[]},{"id":"fe2cf020.ccf6b","type":"subflow:b3c6dcff.c0e96","z":"a274d783.b88e98","name":"Generar Token JWT","env":[],"x":2410,"y":360,"wires":[["fd312a30.de4898"]]},{"id":"fd312a30.de4898","type":"subflow:b7d90688.6f0208","z":"a274d783.b88e98","name":"Guardar token en REDIS","env":[],"x":2670,"y":360,"wires":[["534f383d.15abe8"]]},{"id":"9b600a49.d09598","type":"change","z":"1b99ef23.673c61","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"\"http://localhost:1880/checktoken/\" & payload","tot":"jsonata"},{"t":"set","p":"tokenOriginal","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[["72ff788b.5ca7e8"]]},{"id":"fa6d305e.2d0b6","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"access_token\": token}","tot":"jsonata"},{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"num"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2500,"y":180,"wires":[["d63fe7b7.d1b9c8","f989f887.5fc7a8"]]},{"id":"327f60bb.774e1","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"access_token\": tokenOriginal}","tot":"jsonata"},{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"num"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2400,"y":280,"wires":[["f6ec51f1.55ccf","d51fe67b.dec3c8"]]},{"id":"534f383d.15abe8","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"access_token\": token}","tot":"jsonata"},{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"num"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2900,"y":360,"wires":[["40e81779.193698","c5533124.afefb"]]},{"id":"a89aa909.fa6eb8","type":"http request","z":"a274d783.b88e98","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":600,"wires":[["5cc7d5a1.1a403c"]]},{"id":"22b03db3.a8f242","type":"function","z":"a274d783.b88e98","name":"Obtener token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\n//msg.authToken=authToken;\nmsg.payload=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":600,"wires":[["ae4c2a49.1faba8"]]},{"id":"ae4c2a49.1faba8","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"\"http://localhost:1880/checktoken/\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":600,"wires":[["a89aa909.fa6eb8"]]},{"id":"5cc7d5a1.1a403c","type":"switch","z":"a274d783.b88e98","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":600,"wires":[["cf2a796c.8d4e18"],["9cc2a8dc.3e21d8"]]},{"id":"4c77ad7e.abdfd4","type":"comment","z":"a274d783.b88e98","name":"Token valido","info":"","x":1230,"y":480,"wires":[]},{"id":"bd580f5c.13a78","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":1550,"y":680,"wires":[]},{"id":"9cc2a8dc.3e21d8","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":680,"wires":[["bd580f5c.13a78"]]},{"id":"912eb561.d6d558","type":"comment","z":"a274d783.b88e98","name":"Token invalido","info":"","x":1230,"y":720,"wires":[]},{"id":"d63fe7b7.d1b9c8","type":"http response","z":"a274d783.b88e98","name":"[200] Token Generado OK ","statusCode":"","headers":{},"x":2730,"y":180,"wires":[]},{"id":"9cac69b7.dd8548","type":"switch","z":"a274d783.b88e98","name":"","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":640,"wires":[["22b03db3.a8f242"],["15a79655.decc4a"]]},{"id":"a371d9d4.217398","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":850,"y":680,"wires":[]},{"id":"15a79655.decc4a","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":680,"wires":[["a371d9d4.217398"]]},{"id":"2883573d.820448","type":"comment","z":"a274d783.b88e98","name":"No hay auth token en la peticion","info":"","x":590,"y":720,"wires":[]},{"id":"a501f330.a5579","type":"comment","z":"a274d783.b88e98","name":"Existe el auth token en la peticion","info":"","x":590,"y":560,"wires":[]},{"id":"cf2a796c.8d4e18","type":"function","z":"a274d783.b88e98","name":"Leer token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.token=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":520,"wires":[["da0afb92.6ff8f8"]]},{"id":"43fb7cae.73ee64","type":"http response","z":"a274d783.b88e98","name":"[200] Http Response OK","statusCode":"","headers":{},"x":2370,"y":480,"wires":[]},{"id":"e185b6c0.cfd648","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":480,"wires":[["c22624b7.edb898"]]},{"id":"e541538d.e05ed","type":"comment","z":"a274d783.b88e98","name":"Usuario con Rol de ADMIN","info":"","x":1930,"y":440,"wires":[]},{"id":"763cf6e6.79e6e8","type":"comment","z":"a274d783.b88e98","name":"Usuario sin rol de ADMIN","info":"","x":1930,"y":600,"wires":[]},{"id":"1718125.176a4ee","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":2210,"y":560,"wires":[]},{"id":"baa9599c.0d8298","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1950,"y":560,"wires":[["1718125.176a4ee"]]},{"id":"323c4914.975c86","type":"function","z":"a274d783.b88e98","name":"Verificar si usuario tiene Rol ADMIN","func":"var roles=msg.token.roles;\n\nvar userIsAdmin=roles.indexOf(\"ADMIN\");\n\nif (userIsAdmin < 0) { // USER IS NOT ADMIN\n    return [null, msg];\n}\n\nreturn [msg, null];","outputs":2,"noerr":0,"x":1640,"y":520,"wires":[["e185b6c0.cfd648"],["baa9599c.0d8298"]]},{"id":"aba7098.57235f8","type":"switch","z":"a274d783.b88e98","name":"","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":960,"wires":[["723f3763.8ddaa8"],["e8f1ac67.e3ce8"]]},{"id":"d1add150.71281","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":890,"y":1000,"wires":[]},{"id":"e8f1ac67.e3ce8","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1000,"wires":[["d1add150.71281"]]},{"id":"2b4ef624.f9e00a","type":"comment","z":"a274d783.b88e98","name":"No hay auth token en la peticion","info":"","x":630,"y":1040,"wires":[]},{"id":"723f3763.8ddaa8","type":"function","z":"a274d783.b88e98","name":"Obtener token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.authToken=authToken;\nmsg.payload=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":920,"wires":[["54344f7.2084db"]]},{"id":"c6ea8ab.321be78","type":"http request","z":"a274d783.b88e98","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":920,"wires":[["fab793e7.3a3ec"]]},{"id":"54344f7.2084db","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"\"http://localhost:1880/checktoken/\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":920,"wires":[["c6ea8ab.321be78"]]},{"id":"fab793e7.3a3ec","type":"switch","z":"a274d783.b88e98","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":920,"wires":[["b62704b8.90ecd8"],["9a771740.e85418"]]},{"id":"8a4870eb.ef68","type":"comment","z":"a274d783.b88e98","name":"Existe el auth token en la peticion","info":"","x":630,"y":880,"wires":[]},{"id":"d68b63d4.3258e","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":1590,"y":960,"wires":[]},{"id":"9a771740.e85418","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":960,"wires":[["d68b63d4.3258e"]]},{"id":"4dd1491.3daf9b8","type":"comment","z":"a274d783.b88e98","name":"Token invalido","info":"","x":1270,"y":1000,"wires":[]},{"id":"eed9ece0.f866d","type":"comment","z":"a274d783.b88e98","name":"Token valido","info":"","x":1270,"y":840,"wires":[]},{"id":"b62704b8.90ecd8","type":"function","z":"a274d783.b88e98","name":"Leer token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.token=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":880,"wires":[["95bf8f9a.ecd79"]]},{"id":"f3cedba0.b8b3f8","type":"http response","z":"a274d783.b88e98","name":"[200] Http Response OK","statusCode":"","headers":{},"x":2490,"y":880,"wires":[]},{"id":"f34a792a.82f1a8","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"num"},{"t":"delete","p":"token","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":880,"wires":[["f3cedba0.b8b3f8"]]},{"id":"dc8dcfb8.364cc","type":"change","z":"a274d783.b88e98","name":"Setear consulta a BD Mongo","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"usuario\": token.usuario\t}","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":880,"wires":[["9c23a4d.0173d58"]]},{"id":"ceeefa37.73dbc8","type":"http response","z":"a274d783.b88e98","name":"[200] Response OK","statusCode":"","headers":{},"x":1370,"y":2740,"wires":[]},{"id":"6940f55d.6f6c0c","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.roles","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":2740,"wires":[["ceeefa37.73dbc8"]]},{"id":"8fdf5851.522a88","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://localhost:1880/usuarios/actual","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"req.headers","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2780,"wires":[["6df63f17.65cca"]]},{"id":"6df63f17.65cca","type":"http request","z":"a274d783.b88e98","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":2780,"wires":[["879770d9.1b36d","cf30665a.63afb8"]]},{"id":"cf30665a.63afb8","type":"switch","z":"a274d783.b88e98","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":2780,"wires":[["c924b47b.2d4db"],["ddbd018.689c4"]]},{"id":"fed512b8.27603","type":"switch","z":"a274d783.b88e98","name":"","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":2300,"wires":[["e7daf33d.01a4d"],["9fc4cdac.41658"]]},{"id":"b4e16f0a.5324d","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":850,"y":2340,"wires":[]},{"id":"9fc4cdac.41658","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2340,"wires":[["b4e16f0a.5324d"]]},{"id":"e66abd9a.b7aa5","type":"comment","z":"a274d783.b88e98","name":"No hay auth token en la peticion","info":"","x":590,"y":2380,"wires":[]},{"id":"e7daf33d.01a4d","type":"function","z":"a274d783.b88e98","name":"Obtener token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.authToken=authToken;\nmsg.payload=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":2260,"wires":[["1d6f69.1ec86098"]]},{"id":"53c8b4a5.9e2d0c","type":"http request","z":"a274d783.b88e98","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":2260,"wires":[["73215e42.76376"]]},{"id":"1d6f69.1ec86098","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"\"http://localhost:1880/checktoken/\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":2260,"wires":[["53c8b4a5.9e2d0c"]]},{"id":"73215e42.76376","type":"switch","z":"a274d783.b88e98","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":2260,"wires":[["5c37b679.55f6e8"],["b32e332.a9144d"]]},{"id":"e0c9d728.0af538","type":"comment","z":"a274d783.b88e98","name":"Existe el auth token en la peticion","info":"","x":590,"y":2220,"wires":[]},{"id":"b32e332.a9144d","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":2300,"wires":[["7c6f57f8.ec8098"]]},{"id":"1951bd5.db1f543","type":"comment","z":"a274d783.b88e98","name":"Token invalido","info":"","x":1230,"y":2340,"wires":[]},{"id":"61fb8ad7.56f334","type":"comment","z":"a274d783.b88e98","name":"Token valido","info":"","x":1230,"y":2180,"wires":[]},{"id":"5c37b679.55f6e8","type":"function","z":"a274d783.b88e98","name":"Leer token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.token=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2220,"wires":[["8dd5a360.a52cd"]]},{"id":"3a3c97b3.759368","type":"comment","z":"a274d783.b88e98","name":"Usuario con Rol de ADMIN","info":"","x":1930,"y":2140,"wires":[]},{"id":"4761da28.803364","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":2210,"y":2260,"wires":[]},{"id":"5820e04b.a305e","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1950,"y":2260,"wires":[["4761da28.803364"]]},{"id":"61a746fe.6b3ef8","type":"function","z":"a274d783.b88e98","name":"Verificar si usuario tiene Rol ADMIN","func":"var roles=msg.token.roles;\n\nvar userIsAdmin=roles.indexOf(\"ADMIN\");\n\nif (userIsAdmin < 0) { // USER IS NOT ADMIN\n    return [null, msg];\n}\n\nreturn [msg, null];","outputs":2,"noerr":0,"x":1640,"y":2220,"wires":[["d33629d5.8ff148"],["5820e04b.a305e"]]},{"id":"d33629d5.8ff148","type":"change","z":"a274d783.b88e98","name":"Setear consulta a BD Mongo","rules":[{"t":"set","p":"usuario","pt":"msg","to":"req.params.username","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"[\t   { \"usuario\": usuario },\t   { \"$set\": { \"cuentaHabilitada\": false } }\t]","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":2180,"wires":[["fde3c966.613318"]]},{"id":"d556c6cf.ba8a68","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":1370,"y":2800,"wires":[]},{"id":"ddbd018.689c4","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":2820,"wires":[["d556c6cf.ba8a68"]]},{"id":"46064866.f40cf8","type":"debug","z":"a274d783.b88e98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":2880,"wires":[]},{"id":"e0a64f1f.f6ef4","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":1650,"y":180,"wires":[]},{"id":"2f3bef0d.a9c1b","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":180,"wires":[["e0a64f1f.f6ef4"]]},{"id":"4b490ef7.5dd1e","type":"mongodb-node","z":"a274d783.b88e98","mongodb":"7e69972.3524768","name":"Search User in BD","collection":"","operation":"find","upsert":false,"multi":false,"x":990,"y":220,"wires":[["f0f0633e.7ed2b"]]},{"id":"c22624b7.edb898","type":"mongodb-node","z":"a274d783.b88e98","mongodb":"7e69972.3524768","name":"Search Users in BD","collection":"","operation":"find","upsert":false,"multi":false,"x":2130,"y":480,"wires":[["43fb7cae.73ee64"]]},{"id":"9c23a4d.0173d58","type":"mongodb-node","z":"a274d783.b88e98","mongodb":"7e69972.3524768","name":"Search current user in BD","collection":"","operation":"find","upsert":false,"multi":false,"x":1930,"y":880,"wires":[["f34a792a.82f1a8"]]},{"id":"7336f7f7.d40f78","type":"redis-command","z":"a274d783.b88e98","server":"b7397635.946808","command":"exists","name":"Buscar token de usuario en REDIS","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":1600,"y":260,"wires":[["37a5d452.e0200c"]]},{"id":"89274be4.a81378","type":"JsonWebToken","z":"a274d783.b88e98","name":"JWToken","tokenconfig":"24da9bc7.75e1f4","x":540,"y":3920,"wires":[["e52f7a92.d53dc8"]]},{"id":"da0afb92.6ff8f8","type":"JsonWebToken","z":"a274d783.b88e98","name":"JWToken","tokenconfig":"24da9bc7.75e1f4","x":1400,"y":520,"wires":[["323c4914.975c86"]]},{"id":"95bf8f9a.ecd79","type":"JsonWebToken","z":"a274d783.b88e98","name":"JWToken","tokenconfig":"24da9bc7.75e1f4","x":1440,"y":880,"wires":[["dc8dcfb8.364cc"]]},{"id":"8dd5a360.a52cd","type":"JsonWebToken","z":"a274d783.b88e98","name":"JWToken","tokenconfig":"24da9bc7.75e1f4","x":1400,"y":2220,"wires":[["61a746fe.6b3ef8"]]},{"id":"cfb69b6a.ec56f8","type":"digest","z":"8293d049.3b1a8","name":"Hashear password (SHA-256)","algorithm":"SHA256","x":470,"y":80,"wires":[["248ebbb1.0332d4"]]},{"id":"b579fb09.7d6ed8","type":"JsonWebToken","z":"b3c6dcff.c0e96","name":"JWToken","tokenconfig":"24da9bc7.75e1f4","x":360,"y":140,"wires":[["709f8816.7f8818"]]},{"id":"4222a55f.fb5ecc","type":"redis-command","z":"b7d90688.6f0208","server":"b7397635.946808","command":"set","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":160,"y":160,"wires":[[]]},{"id":"a2e32fed.8075","type":"redis-command","z":"1b99ef23.673c61","server":"b7397635.946808","command":"get","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":160,"y":200,"wires":[["9b600a49.d09598"]]},{"id":"4a209de6.28fca4","type":"switch","z":"a274d783.b88e98","name":"","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":3200,"wires":[["f4f618d6.11ff78"],["de652932.f30a48"]]},{"id":"d2d20ed.93ceff","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":830,"y":3300,"wires":[]},{"id":"de652932.f30a48","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":3300,"wires":[["d2d20ed.93ceff"]]},{"id":"85b5fb7.1e24908","type":"comment","z":"a274d783.b88e98","name":"No hay auth token en la peticion","info":"","x":570,"y":3340,"wires":[]},{"id":"f78c3602.4b88d8","type":"http request","z":"a274d783.b88e98","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":3160,"wires":[["40c134f3.7351cc"]]},{"id":"40c134f3.7351cc","type":"switch","z":"a274d783.b88e98","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":3160,"wires":[["99b96a8f.4f0cf8"],["1dd5707e.c890c"]]},{"id":"7c6f57f8.ec8098","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":1550,"y":2300,"wires":[]},{"id":"1dd5707e.c890c","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":3200,"wires":[["551e4953.3784c8"]]},{"id":"e18d16b5.f96188","type":"comment","z":"a274d783.b88e98","name":"Token invalido","info":"","x":1210,"y":3240,"wires":[]},{"id":"551e4953.3784c8","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":1530,"y":3200,"wires":[]},{"id":"19b521d8.2d58ce","type":"comment","z":"a274d783.b88e98","name":"Token valido","info":"","x":1210,"y":3080,"wires":[]},{"id":"99b96a8f.4f0cf8","type":"function","z":"a274d783.b88e98","name":"Leer token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.token=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":3120,"wires":[["db5158ab.2ed668"]]},{"id":"48e0dd92.90ccf4","type":"comment","z":"a274d783.b88e98","name":"Usuario con Rol de ADMIN","info":"","x":1910,"y":3000,"wires":[]},{"id":"b1699b5.9375868","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1930,"y":3200,"wires":[["d4813dba.336ae"]]},{"id":"de58513b.7e117","type":"function","z":"a274d783.b88e98","name":"Verificar si usuario tiene Rol ADMIN","func":"var roles=msg.token.roles;\n\nvar userIsAdmin=roles.indexOf(\"ADMIN\");\n\nif (userIsAdmin < 0) { // USER IS NOT ADMIN\n    return [null, msg];\n}\n\nreturn [msg, null];","outputs":2,"noerr":0,"x":1620,"y":3120,"wires":[["dd508a8d.e8ce18"],["b1699b5.9375868"]]},{"id":"db5158ab.2ed668","type":"JsonWebToken","z":"a274d783.b88e98","name":"JWToken","tokenconfig":"24da9bc7.75e1f4","x":1380,"y":3120,"wires":[["de58513b.7e117"]]},{"id":"d4813dba.336ae","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":2190,"y":3200,"wires":[]},{"id":"b69fd726.b2b6f8","type":"comment","z":"a274d783.b88e98","name":"Usuario sin Rol de ADMIN","info":"","x":1930,"y":2300,"wires":[]},{"id":"3e5db3ae.8e375c","type":"comment","z":"a274d783.b88e98","name":"Usuario sin Rol de ADMIN","info":"","x":1910,"y":3240,"wires":[]},{"id":"52ba638b.b5ecec","type":"http response","z":"a274d783.b88e98","name":"[200] Http Response OK","statusCode":"","headers":{},"x":2710,"y":2140,"wires":[]},{"id":"fde3c966.613318","type":"mongodb3 in","z":"a274d783.b88e98","service":"_ext_","configNode":"1793ccd6.b67a63","name":"Lock User account","collection":"","operation":"update","x":2190,"y":2180,"wires":[["22fb2c18.77b9a4"]]},{"id":"e59ad80d.bc4078","type":"http response","z":"a274d783.b88e98","name":"[500] Http Response Server Error","statusCode":"","headers":{},"x":2740,"y":2220,"wires":[]},{"id":"22fb2c18.77b9a4","type":"function","z":"a274d783.b88e98","name":"Setear Payload y status code","func":"var result=msg.payload.result\n\nif (result.n === 0) {\n    msg.statusCode = 500;\n    msg.payload = {\"mensaje\": \"Error al intentar bloquear la cuenta.\"};\n    return [null,msg];\n}\n\nif (result.nModified === 0) {\n    msg.statusCode = 500;\n    msg.payload = {\"mensaje\": \"La cuenta ya estaba bloqueada.\"};\n    return [null,msg];\n}\n\nmsg.statusCode = 200;\nmsg.payload = {\"mensaje\": \"La cuenta se bloqueó con éxito.\"};\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":2440,"y":2180,"wires":[["52ba638b.b5ecec","6a1f1c28.ed9f74"],["e59ad80d.bc4078"]]},{"id":"781bfeb2.2e3a8","type":"switch","z":"a274d783.b88e98","name":"","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":2540,"wires":[["35714d52.362082"],["520c8f0d.86fd6"]]},{"id":"ac7b9f58.bb462","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":870,"y":2580,"wires":[]},{"id":"520c8f0d.86fd6","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2580,"wires":[["ac7b9f58.bb462"]]},{"id":"cfc84463.ae8de8","type":"comment","z":"a274d783.b88e98","name":"No hay auth token en la peticion","info":"","x":610,"y":2620,"wires":[]},{"id":"35714d52.362082","type":"function","z":"a274d783.b88e98","name":"Obtener token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.authToken=authToken;\nmsg.payload=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":2500,"wires":[["44a1cdd5.284084"]]},{"id":"9be6a6c3.23be98","type":"http request","z":"a274d783.b88e98","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":2500,"wires":[["1af8378c.636e18"]]},{"id":"44a1cdd5.284084","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"\"http://localhost:1880/checktoken/\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":2500,"wires":[["9be6a6c3.23be98"]]},{"id":"1af8378c.636e18","type":"switch","z":"a274d783.b88e98","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":2500,"wires":[["6452fd12.780124"],["cb0ec41.1251a38"]]},{"id":"36474cd1.06ebf4","type":"comment","z":"a274d783.b88e98","name":"Existe el auth token en la peticion","info":"","x":610,"y":2460,"wires":[]},{"id":"cb0ec41.1251a38","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":2540,"wires":[["a819864e.6456a8"]]},{"id":"6681c2b9.867cdc","type":"comment","z":"a274d783.b88e98","name":"Token invalido","info":"","x":1250,"y":2580,"wires":[]},{"id":"8a3d63c0.8eb31","type":"comment","z":"a274d783.b88e98","name":"Token valido","info":"","x":1250,"y":2420,"wires":[]},{"id":"6452fd12.780124","type":"function","z":"a274d783.b88e98","name":"Leer token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.token=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":2460,"wires":[["869739ba.8cf188"]]},{"id":"3279dbb8.f9eaa4","type":"comment","z":"a274d783.b88e98","name":"Usuario con Rol de ADMIN","info":"","x":1950,"y":2380,"wires":[]},{"id":"1ac42b0.0cf1ed5","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":2230,"y":2500,"wires":[]},{"id":"7aa44a93.68f084","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1970,"y":2500,"wires":[["1ac42b0.0cf1ed5"]]},{"id":"52161052.ea35d","type":"function","z":"a274d783.b88e98","name":"Verificar si usuario tiene Rol ADMIN","func":"var roles=msg.token.roles;\n\nvar userIsAdmin=roles.indexOf(\"ADMIN\");\n\nif (userIsAdmin < 0) { // USER IS NOT ADMIN\n    return [null, msg];\n}\n\nreturn [msg, null];","outputs":2,"noerr":0,"x":1660,"y":2460,"wires":[["988c043.6b94cf8"],["7aa44a93.68f084"]]},{"id":"988c043.6b94cf8","type":"change","z":"a274d783.b88e98","name":"Setear consulta a BD Mongo","rules":[{"t":"set","p":"usuario","pt":"msg","to":"req.params.username","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"[\t   { \"usuario\": usuario },\t   { \"$set\": { \"cuentaHabilitada\": true } }\t]","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":2420,"wires":[["58e9d2bb.d4f06c"]]},{"id":"869739ba.8cf188","type":"JsonWebToken","z":"a274d783.b88e98","name":"JWToken","tokenconfig":"24da9bc7.75e1f4","x":1420,"y":2460,"wires":[["52161052.ea35d"]]},{"id":"a819864e.6456a8","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":1570,"y":2540,"wires":[]},{"id":"10d9027d.9e7cbe","type":"comment","z":"a274d783.b88e98","name":"Usuario sin Rol de ADMIN","info":"","x":1950,"y":2540,"wires":[]},{"id":"15a63f5b.b827d1","type":"http response","z":"a274d783.b88e98","name":"[200] Http Response OK","statusCode":"","headers":{},"x":2750,"y":2380,"wires":[]},{"id":"58e9d2bb.d4f06c","type":"mongodb3 in","z":"a274d783.b88e98","service":"_ext_","configNode":"1793ccd6.b67a63","name":"Unlock User account","collection":"","operation":"update","x":2220,"y":2420,"wires":[["aaf77e5d.dc8c5"]]},{"id":"dcdd2f23.48ebb","type":"http response","z":"a274d783.b88e98","name":"[500] Http Response Server Error","statusCode":"","headers":{},"x":2780,"y":2460,"wires":[]},{"id":"aaf77e5d.dc8c5","type":"function","z":"a274d783.b88e98","name":"Setear Payload y status code","func":"var result=msg.payload.result\n\nif (result.n === 0) {\n    msg.statusCode = 500;\n    msg.payload = {\"mensaje\": \"Error al intentar desbloquear la cuenta.\"};\n    return [null,msg];\n}\n\nif (result.nModified === 0) {\n    msg.statusCode = 500;\n    msg.payload = {\"mensaje\": \"La cuenta ya estaba desbloqueada.\"};\n    return [null,msg];\n}\n\nmsg.statusCode = 200;\nmsg.payload = {\"mensaje\": \"La cuenta se desbloqueó con éxito.\"};\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":2480,"y":2420,"wires":[["15a63f5b.b827d1"],["dcdd2f23.48ebb"]]},{"id":"68f95024.7944d","type":"mongodb3 in","z":"a274d783.b88e98","service":"_ext_","configNode":"1793ccd6.b67a63","name":"Search user in DB","collection":"","operation":"findOne","x":2470,"y":3080,"wires":[["e0700ee6.99633"]]},{"id":"c0901cab.99b17","type":"change","z":"a274d783.b88e98","name":"Setear consulta a BD Mongo","rules":[{"t":"set","p":"usuario","pt":"msg","to":"req.params.username","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{ \"usuario\": usuario }","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2220,"y":3080,"wires":[["68f95024.7944d"]]},{"id":"f4f618d6.11ff78","type":"function","z":"a274d783.b88e98","name":"Obtener token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.authToken=authToken;\nmsg.payload=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":3160,"wires":[["b9362fb3.9273c"]]},{"id":"b9362fb3.9273c","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"\"http://localhost:1880/checktoken/\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":3160,"wires":[["f78c3602.4b88d8"]]},{"id":"1b2250ae.a95faf","type":"comment","z":"a274d783.b88e98","name":"Existe el auth token en la peticion","info":"","x":570,"y":3120,"wires":[]},{"id":"e0700ee6.99633","type":"function","z":"a274d783.b88e98","name":"Verificar si usuario tiene el rol a agregar ","func":"var rol=msg.payloadOriginal.rol;\nvar roles=msg.payload.roles;\n\nvar hasRole=roles.indexOf(rol);\n\nif (hasRole >= 0) { // USER ALREADY HAVE ROLE 'rol'\n    msg.statusCode = 500;\n    msg.payload = {\"mensaje\": \"El usuario ya contenia el rol a agregar.\"};\n    return [null,msg];\n}\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":2760,"y":3080,"wires":[["ad984d39.64c17"],["7e6f11d0.cf9b"]]},{"id":"7e6f11d0.cf9b","type":"http response","z":"a274d783.b88e98","name":"[500] Http Response Server Error","statusCode":"","headers":{},"x":3100,"y":3120,"wires":[]},{"id":"ad984d39.64c17","type":"change","z":"a274d783.b88e98","name":"Setear consulta a BD Mongo","rules":[{"t":"set","p":"usuario","pt":"msg","to":"req.params.username","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"[\t   { \"usuario\": usuario },\t   {\t       \"$set\": {\t           \"roles\": $append(payload.roles, payloadOriginal.rol)\t       } \t   }\t]","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3080,"y":3040,"wires":[["681ba43d.9db82c"]]},{"id":"db013b94.8e2e38","type":"http response","z":"a274d783.b88e98","name":"[200] Http Response OK","statusCode":"","headers":{},"x":3890,"y":3000,"wires":[]},{"id":"681ba43d.9db82c","type":"mongodb3 in","z":"a274d783.b88e98","service":"_ext_","configNode":"1793ccd6.b67a63","name":"Add Role to user account","collection":"","operation":"update","x":3350,"y":3040,"wires":[["528036d.60629c8"]]},{"id":"528036d.60629c8","type":"function","z":"a274d783.b88e98","name":"Setear Payload y status code","func":"var result=msg.payload.result\n\nif (result.n === 0) {\n    msg.statusCode = 500;\n    msg.payload = {\"mensaje\": \"Error al intentar agregar el rol a la cuenta.\"};\n    return [null,msg];\n}\n\nmsg.statusCode = 200;\nmsg.payload = {\"mensaje\": \"El rol se agregó a la cuenta con éxito.\"};\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":3620,"y":3040,"wires":[["db013b94.8e2e38"],["df694f64.d654"]]},{"id":"df694f64.d654","type":"http response","z":"a274d783.b88e98","name":"[500] Http Response Server Error","statusCode":"","headers":{},"x":3920,"y":3080,"wires":[]},{"id":"28d6b626.85aeba","type":"http response","z":"a274d783.b88e98","name":"[400] Http Response Error","statusCode":"","headers":{},"x":2210,"y":3000,"wires":[]},{"id":"b3657e0c.6d449","type":"comment","z":"a274d783.b88e98","name":"[400] Bad Request","info":"[400] Bad Request","x":2190,"y":2960,"wires":[]},{"id":"dd508a8d.e8ce18","type":"function","z":"a274d783.b88e98","name":"Verificar body de la peticion","func":"var body = msg.req.body;\n\nvar allowedRoles=[\"ADMIN\",\"DEV\",\"TESTER\"]\n\nif (!body) {\n    msg.payload = { \"error\": \"El cuerpo de la peticion no debe estar vacio.\" };\n    msg.statusCode = 400;\n    return [msg,null];\n}\n\nif (Object.keys(body).length != 1 ||\n   !Object.keys(body).includes(\"rol\")) {\n    msg.payload = { \"error\": \"Debe incluirse el campo 'rol' en la peticion.\" };\n    msg.statusCode = 400;\n    return [msg, null];\n}\n\nif (body.rol.length === 0) {\n    msg.payload = { \"error\": \"El campo rol no puede estar vacio.\" };\n    msg.statusCode = 400;\n    return [msg,null];\n}\n\nvar rol=body.rol.toUpperCase();\n\nif (allowedRoles.indexOf(rol) < 0) {\n    msg.payload = { \"error\": \"El rol ingresado no es valido.\" };\n    msg.statusCode = 400;\n    return [msg,null];\n}\n\nmsg.payloadOriginal = { \"rol\": rol };\n\nreturn [null,msg];","outputs":2,"noerr":0,"x":1920,"y":3040,"wires":[["28d6b626.85aeba"],["c0901cab.99b17"]],"outputLabels":["BAD request","request OK"]},{"id":"ffbb1e9f.94e33","type":"switch","z":"a274d783.b88e98","name":"","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":3580,"wires":[["30f3de48.e44df2"],["9d95a0d5.1791e"]]},{"id":"874566c.c330498","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":850,"y":3680,"wires":[]},{"id":"9d95a0d5.1791e","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3680,"wires":[["874566c.c330498"]]},{"id":"7d3a93d2.3924dc","type":"comment","z":"a274d783.b88e98","name":"No hay auth token en la peticion","info":"","x":590,"y":3720,"wires":[]},{"id":"f8c3fe30.e0b6f","type":"http request","z":"a274d783.b88e98","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":3540,"wires":[["ec3a8ad3.9b1158"]]},{"id":"ec3a8ad3.9b1158","type":"switch","z":"a274d783.b88e98","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":3540,"wires":[["1749a298.7735cd"],["5ee6eaa2.d74294"]]},{"id":"30f3de48.e44df2","type":"function","z":"a274d783.b88e98","name":"Obtener token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.authToken=authToken;\nmsg.payload=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":3540,"wires":[["a9fbf8ea.bb8838"]]},{"id":"a9fbf8ea.bb8838","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"\"http://localhost:1880/checktoken/\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":3540,"wires":[["f8c3fe30.e0b6f"]]},{"id":"ec0274ea.283b48","type":"comment","z":"a274d783.b88e98","name":"Existe el auth token en la peticion","info":"","x":590,"y":3500,"wires":[]},{"id":"5ee6eaa2.d74294","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":3580,"wires":[["a94892ba.bf4fb"]]},{"id":"aa9a4e2f.5c546","type":"comment","z":"a274d783.b88e98","name":"Token invalido","info":"","x":1230,"y":3620,"wires":[]},{"id":"a94892ba.bf4fb","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":1550,"y":3580,"wires":[]},{"id":"f5c621ec.34335","type":"comment","z":"a274d783.b88e98","name":"Token valido","info":"","x":1230,"y":3460,"wires":[]},{"id":"1749a298.7735cd","type":"function","z":"a274d783.b88e98","name":"Leer token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.token=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":3500,"wires":[["c59b4369.ab09b"]]},{"id":"666a8b0a.6487d4","type":"function","z":"a274d783.b88e98","name":"Verificar si usuario tiene Rol ADMIN","func":"var roles=msg.token.roles;\n\nvar userIsAdmin=roles.indexOf(\"ADMIN\");\n\nif (userIsAdmin < 0) { // USER IS NOT ADMIN\n    return [null, msg];\n}\n\nreturn [msg, null];","outputs":2,"noerr":0,"x":1640,"y":3500,"wires":[["a86c808.6001d8"],["27204a4e.b8d226"]]},{"id":"c59b4369.ab09b","type":"JsonWebToken","z":"a274d783.b88e98","name":"JWToken","tokenconfig":"24da9bc7.75e1f4","x":1400,"y":3500,"wires":[["666a8b0a.6487d4"]]},{"id":"27204a4e.b8d226","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1950,"y":3560,"wires":[["d599de6e.0490d"]]},{"id":"d599de6e.0490d","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":2210,"y":3560,"wires":[]},{"id":"b2ea6880.f42128","type":"comment","z":"a274d783.b88e98","name":"Usuario sin Rol de ADMIN","info":"","x":1930,"y":3600,"wires":[]},{"id":"fb57a0a1.215ec","type":"comment","z":"a274d783.b88e98","name":"Usuario con Rol de ADMIN","info":"","x":1930,"y":3400,"wires":[]},{"id":"311d2fa7.c154b","type":"change","z":"a274d783.b88e98","name":"Setear consulta a BD Mongo","rules":[{"t":"set","p":"usuario","pt":"msg","to":"req.params.username","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{ \"usuario\": usuario }","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2240,"y":3480,"wires":[["84368707.2692c8"]]},{"id":"1cc5e7ae.015518","type":"http response","z":"a274d783.b88e98","name":"[400] Http Response Error","statusCode":"","headers":{},"x":2230,"y":3400,"wires":[]},{"id":"cf8bf817.ee9558","type":"comment","z":"a274d783.b88e98","name":"[400] Bad Request","info":"[400] Bad Request","x":2210,"y":3360,"wires":[]},{"id":"a86c808.6001d8","type":"function","z":"a274d783.b88e98","name":"Verificar parametro rol en la url","func":"var role = msg.req.params.role.toUpperCase();\nvar allowedRoles=[\"ADMIN\",\"DEV\",\"TESTER\"]\n\nif (allowedRoles.indexOf(role) < 0) {\n    msg.payload = { \"error\": \"El rol ingresado en la url no es valido.\" };\n    msg.statusCode = 400;\n    return [msg,null];\n}\n\nmsg.payloadOriginal = { \"rol\": role };\n\nreturn [null,msg];","outputs":2,"noerr":0,"x":1950,"y":3440,"wires":[["1cc5e7ae.015518"],["311d2fa7.c154b"]],"outputLabels":["BAD request","request OK"]},{"id":"84368707.2692c8","type":"mongodb3 in","z":"a274d783.b88e98","service":"_ext_","configNode":"1793ccd6.b67a63","name":"Search user in DB","collection":"","operation":"findOne","x":2490,"y":3480,"wires":[["487106c5.8f9f68"]]},{"id":"487106c5.8f9f68","type":"function","z":"a274d783.b88e98","name":"Verificar si usuario tiene el rol a eliminar ","func":"var rol=msg.payloadOriginal.rol;\nvar roles=msg.payload.roles;\n\nvar hasRole=roles.indexOf(rol);\n\nif (hasRole < 0) { // USER DIDN'T HAVE ROLE 'rol'\n    msg.statusCode = 500;\n    msg.payload = {\"mensaje\": \"El usuario no contiene el rol a eliminar.\"};\n    return [null,msg];\n}\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":2780,"y":3480,"wires":[["c773b529.e23b08"],["e341cfa0.fa338"]]},{"id":"e341cfa0.fa338","type":"http response","z":"a274d783.b88e98","name":"[500] Http Response Server Error","statusCode":"","headers":{},"x":3120,"y":3520,"wires":[]},{"id":"c0f70c28.b3b2b","type":"change","z":"a274d783.b88e98","name":"Setear consulta a BD Mongo","rules":[{"t":"set","p":"usuario","pt":"msg","to":"req.params.username","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"[\t   { \"usuario\": usuario },\t   {\t       \"$set\": {\t           \"roles\": payload.roles\t       } \t   }\t]","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3380,"y":3440,"wires":[["181eebe9.9016e4"]]},{"id":"181eebe9.9016e4","type":"mongodb3 in","z":"a274d783.b88e98","service":"_ext_","configNode":"1793ccd6.b67a63","name":"Add Role to user account","collection":"","operation":"update","x":3650,"y":3440,"wires":[["7f3171ec.501ab"]]},{"id":"7f3171ec.501ab","type":"function","z":"a274d783.b88e98","name":"Setear Payload y status code","func":"var result=msg.payload.result\n\nif (result.n === 0) {\n    msg.statusCode = 500;\n    msg.payload = {\"mensaje\": \"Error al intentar eliminar el rol de la cuenta.\"};\n    return [null,msg];\n}\n\nmsg.statusCode = 200;\nmsg.payload = {\"mensaje\": \"El rol se eliminó de la cuenta con éxito.\"};\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":3920,"y":3440,"wires":[["bdb15763.289ee8","1b3c5997.e447fe"],["ade5c7eb.c77878"]]},{"id":"ade5c7eb.c77878","type":"http response","z":"a274d783.b88e98","name":"[500] Http Response Server Error","statusCode":"","headers":{},"x":4220,"y":3480,"wires":[]},{"id":"bdb15763.289ee8","type":"http response","z":"a274d783.b88e98","name":"[200] Http Response OK","statusCode":"","headers":{},"x":4190,"y":3400,"wires":[]},{"id":"c773b529.e23b08","type":"function","z":"a274d783.b88e98","name":"Setear nuevo array de roles","func":"var rol=msg.payloadOriginal.rol;\nvar roles=msg.payload.roles;\n\nvar roleIndex=roles.indexOf(rol);\n\n// ELIMINO EL ROL\nroles.splice(roleIndex,1);\n\nmsg.payload.roles=roles;\n\nreturn msg;","outputs":1,"noerr":0,"x":3100,"y":3440,"wires":[["c0f70c28.b3b2b"]]},{"id":"ec7b9dc5.31824","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://localhost:1880/usuarios/actual","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"req.headers","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1980,"wires":[["2152e32c.b1d66c"]]},{"id":"2152e32c.b1d66c","type":"http request","z":"a274d783.b88e98","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":1980,"wires":[["201cf92e.613de6"]]},{"id":"201cf92e.613de6","type":"switch","z":"a274d783.b88e98","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":1980,"wires":[["a6a7fe3.184f6"],["fb652352.692a5"]]},{"id":"fb652352.692a5","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":1190,"y":2020,"wires":[]},{"id":"6c2fc2bb.5570cc","type":"function","z":"a274d783.b88e98","name":"Verificar query param","func":"var newpassword=msg.req.query.newpassword;\n\nif (!newpassword) {\n    msg.payload = {\"mensaje\": \"Debes incluir la nueva contraseña en la url de la peticion.\"}\n    msg.statusCode = 400;\n    return [null, msg];\n}\n\nif (newpassword.length < 6) {\n    msg.payload = { \"error\": \"La longitud minima que debe tener el parametro newpassword es de seis (6) caracteres.\" };\n    msg.statusCode = 400;\n    return [null, msg];\n}\n\n\nmsg.newpassword=newpassword;\n\nreturn [msg, null];","outputs":2,"noerr":0,"x":440,"y":2020,"wires":[["ec7b9dc5.31824"],["f7aa8494.44b258"]]},{"id":"f7aa8494.44b258","type":"http response","z":"a274d783.b88e98","name":"[400] Bad Request","statusCode":"","headers":{},"x":670,"y":2060,"wires":[]},{"id":"3b2b125.f5779ee","type":"change","z":"a274d783.b88e98","name":"Guardar payload original","rules":[{"t":"set","p":"payloadOriginal.usuario","pt":"msg","to":"payload.usuario","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"newpassword","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":1940,"wires":[["fc185912.268028"]]},{"id":"76bb9eeb.7cc35","type":"change","z":"a274d783.b88e98","name":"Setear consulta a BD Mongo","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   { \"usuario\": payloadOriginal.usuario },\t   { \"$set\": { \"password\": payload } }\t]","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":1940,"wires":[["a3c0376d.317538"]]},{"id":"fc185912.268028","type":"digest","z":"a274d783.b88e98","name":"Hashear password (SHA-256)","algorithm":"SHA256","x":1630,"y":1940,"wires":[["76bb9eeb.7cc35"]]},{"id":"a3c0376d.317538","type":"mongodb3 in","z":"a274d783.b88e98","service":"_ext_","configNode":"1793ccd6.b67a63","name":"Update current user password","collection":"","operation":"update","x":2210,"y":1940,"wires":[["f787a566.bcff28"]]},{"id":"f787a566.bcff28","type":"function","z":"a274d783.b88e98","name":"Setear Payload y status code","func":"var result=msg.payload.result;\n\nif (result.n === 0) {\n    msg.statusCode = 500;\n    msg.payload = {\"mensaje\": \"Error al intentar cambiar la password del usuario actual.\"};\n    return [null,msg];\n}\n\nmsg.statusCode = 200;\nmsg.payload = {\"mensaje\": \"Se cambió la password del usuario actual con éxito.\"};\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":2500,"y":1940,"wires":[["11c0169e.ac4b89","1c164056.f10f"],["c5def856.f2aac8"]]},{"id":"11c0169e.ac4b89","type":"http response","z":"a274d783.b88e98","name":"[200] Http Response OK","statusCode":"","headers":{},"x":2810,"y":1900,"wires":[]},{"id":"c5def856.f2aac8","type":"http response","z":"a274d783.b88e98","name":"[500] Http Response Server Error","statusCode":"","headers":{},"x":2840,"y":1980,"wires":[]},{"id":"a6a7fe3.184f6","type":"json","z":"a274d783.b88e98","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":1940,"wires":[["3b2b125.f5779ee"]]},{"id":"ddd12c48.db87f","type":"http in","z":"a274d783.b88e98","name":"[PUT] Modificar usuario","url":"/usuarios","method":"put","upload":false,"swaggerDoc":"","x":180,"y":1620,"wires":[["f3c2b611.9756e8"]]},{"id":"94af79e.f653988","type":"switch","z":"a274d783.b88e98","name":"","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1360,"wires":[["db17d193.37e66"],["e7c30f8e.fa41d"]]},{"id":"29f8ea31.f3e646","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":1130,"y":1400,"wires":[]},{"id":"e7c30f8e.fa41d","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1400,"wires":[["29f8ea31.f3e646"]]},{"id":"f55da876.d6f828","type":"comment","z":"a274d783.b88e98","name":"No hay auth token en la peticion","info":"","x":870,"y":1440,"wires":[]},{"id":"db17d193.37e66","type":"function","z":"a274d783.b88e98","name":"Obtener token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.authToken=authToken;\nmsg.payload=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1320,"wires":[["ea2dd285.afa9b"]]},{"id":"73f6bcbc.05add4","type":"http request","z":"a274d783.b88e98","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1190,"y":1320,"wires":[["3c52db4b.d7a064"]]},{"id":"ea2dd285.afa9b","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"\"http://localhost:1880/checktoken/\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1320,"wires":[["73f6bcbc.05add4"]]},{"id":"3c52db4b.d7a064","type":"switch","z":"a274d783.b88e98","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":1320,"wires":[["58cd6c6a.f458b4"],["9b72329d.d7bcb"]]},{"id":"e999147f.e353e8","type":"comment","z":"a274d783.b88e98","name":"Existe el auth token en la peticion","info":"","x":870,"y":1280,"wires":[]},{"id":"9b72329d.d7bcb","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":1360,"wires":[["a2ae11ec.9ce52"]]},{"id":"45a5546f.56f25c","type":"comment","z":"a274d783.b88e98","name":"Token invalido","info":"","x":1510,"y":1400,"wires":[]},{"id":"284e9dee.0ada22","type":"comment","z":"a274d783.b88e98","name":"Token valido","info":"","x":1510,"y":1240,"wires":[]},{"id":"58cd6c6a.f458b4","type":"function","z":"a274d783.b88e98","name":"Leer token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.token=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1280,"wires":[["1f7296d7.d7d659"]]},{"id":"1f7296d7.d7d659","type":"JsonWebToken","z":"a274d783.b88e98","name":"JWToken","tokenconfig":"24da9bc7.75e1f4","x":1680,"y":1280,"wires":[["1005b7b9.749d48"]]},{"id":"a2ae11ec.9ce52","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":1830,"y":1360,"wires":[]},{"id":"2e4c0927.f355a6","type":"function","z":"a274d783.b88e98","name":"Verificar body de la peticion","func":"var body = msg.req.body;\nvar keysAllowed = [\"nombre\",\"apellido\",\"usuario\",\"password\",\"email\"];\nvar keysIncluded = Object.keys(body);\n\nif (!body || keysIncluded.length === 0) {\n    msg.payload = { \"error\": \"El cuerpo de la peticion no debe estar vacio.\" };\n    msg.statusCode = 400;\n    return [msg,null];\n}\n\nif (keysIncluded.length > keysAllowed.length) {\n    msg.payload = { \"error\": \"Deben incluirse solamente los campos nombre, apellido, usuario, password y email en la peticion.\" };\n    msg.statusCode = 400;\n    return [msg, null];\n}\n\nfor (var i = 0; i < keysAllowed.length; i++) {\n    if (keysIncluded.indexOf(keysAllowed[i]) < 0) {\n        msg.payload = { \"error\": \"Deben incluirse solamente los campos nombre, apellido, usuario, password y email en la peticion.\" };\n        msg.statusCode = 400;\n        break;\n    }\n}\n\nif (msg.statusCode === 400) {\n    return [msg, null];\n}\n\nfor (var j = 0; j < keysAllowed.length; j++) {\n    if (body[keysAllowed[j]].length === 0) {\n        msg.payload = { \"error\": \"Ninguno de los campos permitidos deben quedar vacios.\" };\n        msg.statusCode = 400;\n        break;\n    }\n}\n\nif (msg.statusCode === 400) {\n    return [msg, null];\n}\n\nif (body[\"nombre\"].length < 4 || \n    body[\"apellido\"].length < 4 ||\n    body[\"usuario\"].length < 4) {\n    msg.payload = { \"error\": \"La longitud minima que deben tener los campos nombre, apellido y usuario es de cuatro (4) caracteres.\" };\n    msg.statusCode = 400;\n    return [msg, null];\n}\n\nif (body[\"password\"].length < 6) {\n    msg.payload = { \"error\": \"La longitud minima que deben tener el campo password es de seis (6) caracteres.\" };\n    msg.statusCode = 400;\n    return [msg, null];\n}\n\nfunction validateEmail(email) {\n    return (/^\\w+([\\.-]?\\w+)*@\\w+([\\.-]?\\w+)*(\\.\\w{2,3})+$/.test(email));\n}\n\nif (!validateEmail(body[\"email\"])) {\n    msg.payload = { \"error\": \"El email ingresado no es válido.\" };\n    msg.statusCode = 400;\n    return [msg, null];\n}\n\nmsg.statusCode=200;\nmsg.payload = body;\nmsg.payloadOriginal=body;\n\nreturn [null,msg];","outputs":2,"noerr":0,"x":440,"y":1280,"wires":[["d2e12abc.3406e8"],["94af79e.f653988"]],"outputLabels":["BAD request","request OK"]},{"id":"d2e12abc.3406e8","type":"http response","z":"a274d783.b88e98","name":"[400] Bad Request","statusCode":"","headers":{},"x":690,"y":1200,"wires":[]},{"id":"a4fae8c9.2d0dc8","type":"comment","z":"a274d783.b88e98","name":"Usuario con Rol de ADMIN","info":"","x":2210,"y":1200,"wires":[]},{"id":"81c68ada.7a42b8","type":"comment","z":"a274d783.b88e98","name":"Usuario sin rol de ADMIN","info":"","x":2210,"y":1360,"wires":[]},{"id":"4d810ad2.2d73e4","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2230,"y":1320,"wires":[["188776ba.db3f59"]]},{"id":"1005b7b9.749d48","type":"function","z":"a274d783.b88e98","name":"Verificar si usuario tiene Rol ADMIN","func":"var roles=msg.token.roles;\n\nvar userIsAdmin=roles.indexOf(\"ADMIN\");\n\nif (userIsAdmin < 0) { // USER IS NOT ADMIN\n    return [null, msg];\n}\n\nreturn [msg, null];","outputs":2,"noerr":0,"x":1920,"y":1280,"wires":[["2e999580.068e2a"],["4d810ad2.2d73e4"]]},{"id":"188776ba.db3f59","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":2490,"y":1320,"wires":[]},{"id":"2e999580.068e2a","type":"change","z":"a274d783.b88e98","name":"Setear consulta a BD Mongo","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"usuario\": payloadOriginal.usuario\t}","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2220,"y":1240,"wires":[["c059a38f.e4704"]]},{"id":"c059a38f.e4704","type":"mongodb3 in","z":"a274d783.b88e98","service":"_ext_","configNode":"1793ccd6.b67a63","name":"Search user in BD","collection":"","operation":"findOne","x":2470,"y":1240,"wires":[["65f3f6ac.4db578"]]},{"id":"65f3f6ac.4db578","type":"switch","z":"a274d783.b88e98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2650,"y":1240,"wires":[["be2bd05e.43df4"],["f365eedc.128"]]},{"id":"b872d57f.8eca78","type":"comment","z":"a274d783.b88e98","name":"Usuario no encontrado en BD","info":"","x":2880,"y":1160,"wires":[]},{"id":"7e5495c7.15422c","type":"comment","z":"a274d783.b88e98","name":"Usuario encontrado en BD","info":"","x":2870,"y":1320,"wires":[]},{"id":"f365eedc.128","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mensaje\":\"El usuario ingresado ya existe en la BD.\"}","tot":"json"},{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890,"y":1280,"wires":[["9e8f9e7d.1b648"]]},{"id":"be2bd05e.43df4","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payloadOriginal.password","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2840,"y":1200,"wires":[["78fbd13b.6a324"]]},{"id":"78fbd13b.6a324","type":"digest","z":"a274d783.b88e98","name":"Hashear password (SHA-256)","algorithm":"SHA256","x":3090,"y":1200,"wires":[["6eef6528.e5b3ac"]]},{"id":"6eef6528.e5b3ac","type":"change","z":"a274d783.b88e98","name":"Setear consulta a BD Mongo","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"nombre\":  payloadOriginal.nombre,\t   \"apellido\":  payloadOriginal.apellido,\t   \"usuario\":  payloadOriginal.usuario,\t   \"password\": payload,\t   \"email\": payloadOriginal.email,\t   \"cuentaHabilitada\": true,\t   \"roles\": [\"DEV\"]\t}","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3380,"y":1200,"wires":[["dc04cae8.469618"]]},{"id":"dc04cae8.469618","type":"mongodb3 in","z":"a274d783.b88e98","service":"_ext_","configNode":"1793ccd6.b67a63","name":"Insert user in BD","collection":"","operation":"insert","x":3630,"y":1200,"wires":[["5e8f8bb5.34b054"]]},{"id":"9e8f9e7d.1b648","type":"http response","z":"a274d783.b88e98","name":"[500] Http Response Server Error","statusCode":"","headers":{},"x":3200,"y":1280,"wires":[]},{"id":"57799a91.b82bf4","type":"http response","z":"a274d783.b88e98","name":"[500] Http Response Server Error","statusCode":"","headers":{},"x":4180,"y":1240,"wires":[]},{"id":"5e8f8bb5.34b054","type":"function","z":"a274d783.b88e98","name":"Setear Payload y status code","func":"var result=msg.payload.result\n\nif (result.n === 0) {\n    msg.statusCode = 500;\n    msg.payload = {\"mensaje\": \"Error al intentar insertar el usuario a la BD.\"};\n    return [null,msg];\n}\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":3880,"y":1200,"wires":[["a6ab5ecb.b9c7c"],["57799a91.b82bf4"]]},{"id":"afc5862.7d7ca78","type":"digest","z":"74ce3a8e.706474","name":"Hashear password (SHA-256)","algorithm":"SHA256","x":470,"y":80,"wires":[["61bc8236.8ff1bc"]]},{"id":"71b830c8.f7987","type":"change","z":"74ce3a8e.706474","name":"Guardar payload original","rules":[{"t":"set","p":"payloadOriginal","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payloadOriginal.password","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["afc5862.7d7ca78"]]},{"id":"61bc8236.8ff1bc","type":"change","z":"74ce3a8e.706474","name":"Setear consulta a BD Mongo","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"usuario\": payloadOriginal.usuario,\t   \"password\": payload,\t   \"cuentaHabilitada\": true\t}","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"},{"t":"delete","p":"payloadOriginal","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":80,"wires":[[]]},{"id":"13433c6e.b85aa4","type":"change","z":"96e736e7.3656e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"},{"t":"delete","p":"payloadOriginal","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[[]]},{"id":"adee8bfd.977858","type":"JsonWebToken","z":"96e736e7.3656e8","name":"JWToken","tokenconfig":"eba27e13.ee52c","x":360,"y":140,"wires":[["13433c6e.b85aa4"]]},{"id":"176dbf54.6941b1","type":"change","z":"96e736e7.3656e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payloadOriginal","tot":"msg"},{"t":"set","p":"tokenExpTime","pt":"msg","to":"$floor($millis()/1000)+1800","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\t   \"usuario\": payload.usuario,\t   \"roles\": payload.roles,\t   \"exp\": tokenExpTime\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":140,"wires":[["adee8bfd.977858"]]},{"id":"88fb0065.67d81","type":"redis-command","z":"fa69612a.8ec9a","server":"6f587f06.ca847","command":"set","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":160,"y":160,"wires":[[]]},{"id":"e686c475.93a228","type":"redis-command","z":"cf1b885e.0a62c8","server":"6f587f06.ca847","command":"get","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":160,"y":200,"wires":[["2ff2222.410b4de"]]},{"id":"7162ba09.d1afd4","type":"http request","z":"cf1b885e.0a62c8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":200,"wires":[[]]},{"id":"2ff2222.410b4de","type":"change","z":"cf1b885e.0a62c8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"\"http://localhost:1880/checktoken/\" & payload","tot":"jsonata"},{"t":"set","p":"tokenOriginal","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[["7162ba09.d1afd4"]]},{"id":"a6ab5ecb.b9c7c","type":"change","z":"a274d783.b88e98","name":"Setear consulta a BD Mongo","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"usuario\": payloadOriginal.usuario\t}","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4160,"y":1160,"wires":[["a45cc25e.1ab6b"]]},{"id":"a45cc25e.1ab6b","type":"mongodb3 in","z":"a274d783.b88e98","service":"_ext_","configNode":"1793ccd6.b67a63","name":"Search user in BD","collection":"","operation":"findOne","x":4410,"y":1160,"wires":[["56f20de5.1615a4"]]},{"id":"c54af062.a4ce7","type":"http response","z":"a274d783.b88e98","name":"[201] Created","statusCode":"","headers":{},"x":4760,"y":1260,"wires":[]},{"id":"56f20de5.1615a4","type":"function","z":"a274d783.b88e98","name":"Set statusCode and Header location","func":"msg.headers[\"Content-Type\"]=\"application/json\";\nmsg.headers[\"location\"]=\"http://143.0.100.216:1880/usuarios/\"+msg.payload[\"_id\"]\nmsg.payload = { \"mensaje\": \"Se ingresó el usuario con éxito a la BD.\" }\nmsg.statusCode = 201;\n\nreturn msg;","outputs":1,"noerr":0,"x":4690,"y":1160,"wires":[["c54af062.a4ce7"]]},{"id":"f3c2b611.9756e8","type":"function","z":"a274d783.b88e98","name":"Verificar body de la peticion","func":"var body = msg.req.body;\nvar keysAllowed = [\"nombre\",\"apellido\",\"usuario\",\"password\",\"email\"];\nvar keysIncluded = Object.keys(body);\n\nif (!body || keysIncluded.length === 0) {\n    msg.payload = { \"error\": \"El cuerpo de la peticion no debe estar vacio.\" };\n    msg.statusCode = 400;\n    return [msg,null];\n}\n\nif (keysIncluded.length > keysAllowed.length) {\n    msg.payload = { \"error\": \"Deben incluirse solamente los campos nombre, apellido, usuario, password y email en la peticion.\" };\n    msg.statusCode = 400;\n    return [msg, null];\n}\n\nif (keysIncluded.indexOf(\"id\") < 0) {\n    msg.payload = { \"error\": \"Debe incluirse el campo id del usuario a modificar en la peticion.\" };\n    msg.statusCode = 400;\n    return [msg,null];\n}\n\nif (body[\"id\"].length === 0) {\n    msg.payload = { \"error\": \"El campo 'id' del usuario a modificar no debe quedar vacio.\" };\n    msg.statusCode = 400;\n    return [msg,null];\n}\n\nif (body[\"id\"].length < 24) {\n    msg.payload = {\"error\": \"El 'id' ingresado no es válido. El mismo debe ser una cadena de 24 caracteres hexadecimales.\"};\n    msg.statusCode = 400;\n    return [msg,null];\n}\n\nif (keysIncluded.length === 1) {\n    msg.payload = { \"error\": \"Deben incluirse alguno de los campos a modificar en la peticion.\" };\n    msg.statusCode = 400;\n    return [msg,null];\n}\n\nfor (var i = 1; i < keysIncluded.length; i++) {\n    if (keysAllowed.indexOf(keysIncluded[i]) < 0) {\n        msg.payload = { \"error\": \"Deben incluirse solamente los campos nombre, apellido, usuario, password o email en la peticion.\" };\n        msg.statusCode = 400;\n    }\n}\n\nif (msg.statusCode === 400) {\n    return [msg, null];\n}\n\nfor (var j = 1; j < keysIncluded.length; j++) {\n    if (body[keysIncluded[j]].length === 0) {\n        msg.payload = { \"error\": \"Ninguno de los campos a modificar deben quedar vacios.\" };\n        msg.statusCode = 400;\n        break;\n    }\n}\n\nif (msg.statusCode === 400) {\n    return [msg, null];\n}\n\nif ((body[\"nombre\"] && body[\"nombre\"].length < 4) || \n    (body[\"apellido\"] && body[\"apellido\"].length < 4) || \n    (body[\"usuario\"] && body[\"usuario\"].length < 4)) {\n    msg.payload = { \"error\": \"La longitud minima que deben tener los campos nombre, apellido y usuario es de cuatro (4) caracteres.\" };\n    msg.statusCode = 400;\n    return [msg, null];\n}\n\nif (body[\"password\"] && body[\"password\"].length < 6) {\n    msg.payload = { \"error\": \"La longitud minima que deben tener el campo password es de seis (6) caracteres.\" };\n    msg.statusCode = 400;\n    return [msg, null];\n}\n\nfunction validateEmail(email) {\n    return (/^\\w+([\\.-]?\\w+)*@\\w+([\\.-]?\\w+)*(\\.\\w{2,3})+$/.test(email));\n}\n\nif (body[\"email\"] && !validateEmail(body[\"email\"])) {\n    msg.payload = { \"error\": \"El email ingresado no es válido.\" };\n    msg.statusCode = 400;\n    return [msg, null];\n}\n\nmsg.statusCode=200;\nmsg.payload = body;\nmsg.payloadOriginal=body;\n\nreturn [null,msg];","outputs":2,"noerr":0,"x":440,"y":1620,"wires":[["6241c82.6297338"],["a5cc5495.decbe8"]],"outputLabels":["BAD request","request OK"]},{"id":"6241c82.6297338","type":"http response","z":"a274d783.b88e98","name":"[400] Bad Request","statusCode":"","headers":{},"x":710,"y":1540,"wires":[]},{"id":"a5cc5495.decbe8","type":"switch","z":"a274d783.b88e98","name":"","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":1700,"wires":[["571635f8.5ea0dc"],["11b504a9.3cf50b"]]},{"id":"e05e27c0.f68b68","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":1150,"y":1740,"wires":[]},{"id":"11b504a9.3cf50b","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1740,"wires":[["e05e27c0.f68b68"]]},{"id":"bd79bc99.68544","type":"comment","z":"a274d783.b88e98","name":"No hay auth token en la peticion","info":"","x":890,"y":1780,"wires":[]},{"id":"571635f8.5ea0dc","type":"function","z":"a274d783.b88e98","name":"Obtener token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.authToken=authToken;\nmsg.payload=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1660,"wires":[["7059e2cd.f2b82c"]]},{"id":"41fe5557.e153dc","type":"http request","z":"a274d783.b88e98","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1210,"y":1660,"wires":[["e98a67f.6f79a98"]]},{"id":"7059e2cd.f2b82c","type":"change","z":"a274d783.b88e98","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"\"http://localhost:1880/checktoken/\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1660,"wires":[["41fe5557.e153dc"]]},{"id":"e98a67f.6f79a98","type":"switch","z":"a274d783.b88e98","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":1660,"wires":[["1f169ce7.cde773"],["3d3ea6d3.7d809a"]]},{"id":"e0dddb3c.5863f8","type":"comment","z":"a274d783.b88e98","name":"Existe el auth token en la peticion","info":"","x":890,"y":1620,"wires":[]},{"id":"8cbd0ec6.634c2","type":"comment","z":"a274d783.b88e98","name":"Token invalido","info":"","x":1530,"y":1740,"wires":[]},{"id":"1f169ce7.cde773","type":"function","z":"a274d783.b88e98","name":"Leer token","func":"var authHeader = msg.req.headers.authorization;\n\nvar authToken=authHeader.split(\" \")[1];\n\nmsg.token=authToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1620,"wires":[["e1179a10.712638"]]},{"id":"4b754fb2.71b33","type":"comment","z":"a274d783.b88e98","name":"Token valido","info":"","x":1530,"y":1580,"wires":[]},{"id":"3d3ea6d3.7d809a","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":1700,"wires":[["53a22d12.d95974"]]},{"id":"53a22d12.d95974","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":1850,"y":1700,"wires":[]},{"id":"af827447.33a148","type":"comment","z":"a274d783.b88e98","name":"Usuario sin rol de ADMIN","info":"","x":2230,"y":1760,"wires":[]},{"id":"cca93ef9.d2196","type":"change","z":"a274d783.b88e98","name":"Set Payload and Status Code","rules":[{"t":"set","p":"payload","pt":"msg","to":"401 Unauthorized","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2250,"y":1720,"wires":[["658baa0d.dc1674"]]},{"id":"658baa0d.dc1674","type":"http response","z":"a274d783.b88e98","name":"[401] Unauthorized","statusCode":"","headers":{},"x":2510,"y":1720,"wires":[]},{"id":"8cb55a4b.a27f08","type":"function","z":"a274d783.b88e98","name":"Verificar si usuario tiene Rol ADMIN","func":"var roles=msg.token.roles;\n\nvar userIsAdmin=roles.indexOf(\"ADMIN\");\n\nif (userIsAdmin < 0) { // USER IS NOT ADMIN\n    return [null, msg];\n}\n\nreturn [msg, null];","outputs":2,"noerr":0,"x":1940,"y":1620,"wires":[["1e6e88db.ba45c7"],["cca93ef9.d2196"]]},{"id":"e1179a10.712638","type":"JsonWebToken","z":"a274d783.b88e98","name":"JWToken","tokenconfig":"24da9bc7.75e1f4","x":1700,"y":1620,"wires":[["8cb55a4b.a27f08"]]},{"id":"13d9b9b0.63cd76","type":"comment","z":"a274d783.b88e98","name":"Usuario con Rol de ADMIN","info":"","x":2230,"y":1540,"wires":[]},{"id":"f7061c66.eac88","type":"comment","z":"a274d783.b88e98","name":"Usuario encontrado en BD","info":"","x":3250,"y":1460,"wires":[]},{"id":"a721a00e.d0c68","type":"digest","z":"a274d783.b88e98","name":"Hashear password (SHA-256)","algorithm":"SHA256","x":3610,"y":1440,"wires":[["dbcce52c.afdbf8"]]},{"id":"1e6e88db.ba45c7","type":"function","z":"a274d783.b88e98","name":"Setear Payload y status code","func":"msg.payload = msg.payloadOriginal.id;\nmsg.collection = \"usuarios\";\n\nreturn msg;","outputs":1,"noerr":0,"x":2240,"y":1580,"wires":[["82fbdc19.344d3"]]},{"id":"82fbdc19.344d3","type":"objectid","z":"a274d783.b88e98","name":"set ObjectId","property":"payload","propertyType":"msg","x":2470,"y":1580,"wires":[["715c1055.3c6ef"]]},{"id":"1f880acd.d25725","type":"comment","z":"a274d783.b88e98","name":"Usuario no encontrado en BD","info":"","x":3260,"y":1700,"wires":[]},{"id":"8125d4cb.33f7b8","type":"http response","z":"a274d783.b88e98","name":"[500] Http Response Server Error","statusCode":"","headers":{},"x":3560,"y":1660,"wires":[]},{"id":"715c1055.3c6ef","type":"change","z":"a274d783.b88e98","name":"Set Payload ID","rules":[{"t":"set","p":"payloadOriginal.id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2660,"y":1580,"wires":[["675d627a.b7d84c"]]},{"id":"675d627a.b7d84c","type":"mongodb3 in","z":"a274d783.b88e98","service":"_ext_","configNode":"1793ccd6.b67a63","name":"Search user in BD","collection":"","operation":"findOne","x":2870,"y":1580,"wires":[["fef1a7d1.e2cc18"]]},{"id":"fef1a7d1.e2cc18","type":"switch","z":"a274d783.b88e98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3050,"y":1580,"wires":[["f0b79848.16c708"],["4db5a1d7.957d3"]]},{"id":"4db5a1d7.957d3","type":"function","z":"a274d783.b88e98","name":"Setear Payload y status code","func":"msg.payload = {\"mensaje\":\"El id del usuario ingresado no existe en la BD.\"};\nmsg.statusCode=500;\n\nreturn msg;","outputs":1,"noerr":0,"x":3260,"y":1660,"wires":[["8125d4cb.33f7b8"]]},{"id":"f0b79848.16c708","type":"function","z":"a274d783.b88e98","name":"Setear payload de campos a modificar","func":"var payloadOriginal=msg.payloadOriginal;\nvar userFound=msg.payload;\n\nvar keysIncluded=Object.keys(payloadOriginal)\n\nmsg.userFound=userFound;\n\n// Si existe el campo password, salir por salida 1 para hashear la misma\nif (payloadOriginal.password) {\n    msg.payload = payloadOriginal.password;\n    return [msg, null];\n}\n\nfor (var i = 1; i < keysIncluded.length; i++) {\n    msg.userFound[keysIncluded[i]]=payloadOriginal[keysIncluded[i]];\n}\n\nmsg.payload = msg.userFound;\ndelete msg.payload[\"_id\"];\nreturn [null,msg];","outputs":2,"noerr":0,"x":3290,"y":1500,"wires":[["a721a00e.d0c68"],["5d948d2f.1fdd84"]],"outputLabels":["BAD request","request OK"]},{"id":"dbcce52c.afdbf8","type":"function","z":"a274d783.b88e98","name":"Setear payload de campos a modificar","func":"var payloadOriginal=msg.payloadOriginal;\nvar passwordHashed=msg.payload;\nvar userFound=msg.userFound;\n\nvar keysAllowed=[\"nombre\",\"apellido\",\"usuario\",\"email\"];\nvar keysIncluded=Object.keys(payloadOriginal)\n\nuserFound[\"password\"]=passwordHashed;\n\nfor (var i = 1; payloadOriginal.length; i++) {\n    if (keysIncluded[i] !== \"password\") {\n        userFound[keysIncluded[i]]=payloadOriginal[keysIncluded[i]];\n    }\n}\n\nmsg.payload = userFound;\nreturn msg;","outputs":1,"noerr":0,"x":3930,"y":1440,"wires":[["5d948d2f.1fdd84"]],"outputLabels":["BAD request"]},{"id":"35a8b18e.28dede","type":"mongodb3 in","z":"a274d783.b88e98","service":"_ext_","configNode":"1793ccd6.b67a63","name":"Update user in BD","collection":"","operation":"replaceOne","x":3890,"y":1560,"wires":[["1b221118.331fff"]]},{"id":"5d948d2f.1fdd84","type":"change","z":"a274d783.b88e98","name":"Setear sentencia de modificacion","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\"_id\":payloadOriginal.id},\t    payload\t]","tot":"jsonata"},{"t":"set","p":"collection","pt":"msg","to":"usuarios","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3620,"y":1560,"wires":[["35a8b18e.28dede"]]},{"id":"1b221118.331fff","type":"switch","z":"a274d783.b88e98","name":"","property":"payload.result.nModified","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":4070,"y":1560,"wires":[["df780348.65e13","2140ae19.65a282"],["7922b603.fb7ff8"]]},{"id":"7922b603.fb7ff8","type":"function","z":"a274d783.b88e98","name":"Set payload and statusCode","func":"msg.payload = {\"mensaje\": \"Hubo un error al intentar modificar el usuario.\"};\nmsg.statusCode = 500;\n\nreturn msg;","outputs":1,"noerr":0,"x":4280,"y":1600,"wires":[["2b85bcbf.92c944"]],"outputLabels":["BAD request"]},{"id":"2b85bcbf.92c944","type":"http response","z":"a274d783.b88e98","name":"[500] Server Error","statusCode":"","headers":{},"x":4530,"y":1600,"wires":[]},{"id":"df780348.65e13","type":"function","z":"a274d783.b88e98","name":"Set payload and statusCode","func":"msg.payload = {\"mensaje\": \"Se modificó el usuario con éxito.\"};\nmsg.statusCode = 200;\n\nreturn msg;","outputs":1,"noerr":0,"x":4280,"y":1520,"wires":[["1d66134f.4e4d2d"]],"outputLabels":["BAD request"]},{"id":"1d66134f.4e4d2d","type":"http response","z":"a274d783.b88e98","name":"[200] OK","statusCode":"","headers":{},"x":4500,"y":1520,"wires":[]},{"id":"f6ec51f1.55ccf","type":"http response","z":"a274d783.b88e98","name":"[200] Token Generado OK ","statusCode":"","headers":{},"x":2630,"y":280,"wires":[]},{"id":"40e81779.193698","type":"http response","z":"a274d783.b88e98","name":"[200] Token Generado OK ","statusCode":"","headers":{},"x":3130,"y":360,"wires":[]},{"id":"fa9a0186.8798f","type":"redis-command","z":"4ba28156.8e2f88","server":"b7397635.946808","command":"keys","name":"Listar claves en REDIS","topic":"*","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":400,"y":120,"wires":[["eeb6299a.668db"]]},{"id":"2a75cb30.7fd264","type":"change","z":"4ba28156.8e2f88","name":"clear msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":120,"wires":[["fa9a0186.8798f"]]},{"id":"9e8839ed.4f067","type":"function","z":"4ba28156.8e2f88","name":"return msg","func":"\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":240,"wires":[["e96fd0b2.cef178","42d8c612.3d3a8"]]},{"id":"f3d9280.4e770d8","type":"delay","z":"4ba28156.8e2f88","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":140,"wires":[["9e8839ed.4f067"]]},{"id":"e96fd0b2.cef178","type":"array-loop","z":"4ba28156.8e2f88","name":"loop through array of keys","key":"al1a60a19a718526","keyType":"msg","reset":false,"resetValue":"value-null","array":"array","arrayType":"msg","x":960,"y":120,"wires":[[],["f3d9280.4e770d8"]]},{"id":"f989f887.5fc7a8","type":"subflow:4ba28156.8e2f88","z":"a274d783.b88e98","name":"","env":[],"x":2770,"y":140,"wires":[]},{"id":"eeb6299a.668db","type":"change","z":"4ba28156.8e2f88","name":"setear msg.array con claves","rules":[{"t":"set","p":"array","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":120,"wires":[["e96fd0b2.cef178"]]},{"id":"d51fe67b.dec3c8","type":"subflow:4ba28156.8e2f88","z":"a274d783.b88e98","name":"","env":[],"x":2670,"y":240,"wires":[]},{"id":"c5533124.afefb","type":"subflow:4ba28156.8e2f88","z":"a274d783.b88e98","name":"","env":[],"x":3170,"y":320,"wires":[]},{"id":"42d8c612.3d3a8","type":"change","z":"4ba28156.8e2f88","name":"guardar payload","rules":[{"t":"set","p":"key","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":240,"wires":[["1f9da569.22284b"]]},{"id":"1f9da569.22284b","type":"subflow:55d3b446.72a5ac","z":"4ba28156.8e2f88","name":"","env":[],"x":1350,"y":240,"wires":[["20f4987f.300f"]]},{"id":"36cc662e.ad35da","type":"switch","z":"4ba28156.8e2f88","name":"seguir si token no es valido","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1800,"y":240,"wires":[["1a407d56.f6ecdb"]]},{"id":"d322c925.1dfad","type":"redis-command","z":"55d3b446.72a5ac","server":"b7397635.946808","command":"get","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":400,"y":140,"wires":[[]]},{"id":"54993d7.f41fa44","type":"change","z":"55d3b446.72a5ac","name":"set properties to get key","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":140,"wires":[["d322c925.1dfad"]]},{"id":"54b9eba4.9e37dc","type":"change","z":"e09f0647.a10508","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"\"http://localhost:1880/checktoken/\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":100,"wires":[["c6ee7886.4093b"]]},{"id":"c6ee7886.4093b","type":"http request","z":"e09f0647.a10508","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":100,"wires":[[]]},{"id":"20f4987f.300f","type":"subflow:e09f0647.a10508","z":"4ba28156.8e2f88","name":"","env":[],"x":1570,"y":240,"wires":[["36cc662e.ad35da"]]},{"id":"21584588.fab112","type":"debug","z":"d844c12b.f9f0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":120,"wires":[]},{"id":"4322fd6b.340f0c","type":"change","z":"d844c12b.f9f0d8","name":"set properties to delete key","rules":[{"t":"set","p":"topic","pt":"msg","to":"key","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":120,"wires":[["5e42affc.721ad8"]]},{"id":"5e42affc.721ad8","type":"redis-command","z":"d844c12b.f9f0d8","server":"b7397635.946808","command":"del","name":"Borrar Clave en REDIS","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":460,"y":120,"wires":[["21584588.fab112"]]},{"id":"1a407d56.f6ecdb","type":"subflow:d844c12b.f9f0d8","z":"4ba28156.8e2f88","name":"","env":[],"x":2060,"y":240,"wires":[]},{"id":"2140ae19.65a282","type":"switch","z":"a274d783.b88e98","name":"Seguir si se cambio la password","property":"payloadOriginal.password","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":4290,"y":1460,"wires":[["3a85be86.a0e2c2"]]},{"id":"bcd44325.b4463","type":"subflow:55d3b446.72a5ac","z":"a274d783.b88e98","name":"","env":[],"x":4810,"y":1460,"wires":[["d5f493a7.4b0718"]]},{"id":"3a85be86.a0e2c2","type":"change","z":"a274d783.b88e98","name":"set payload with username","rules":[{"t":"set","p":"payload","pt":"msg","to":"userFound.usuario","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4560,"y":1460,"wires":[["bcd44325.b4463"]]},{"id":"d5f493a7.4b0718","type":"switch","z":"a274d783.b88e98","name":"seguir si existe token en REDIS","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":4810,"y":1540,"wires":[["212737bd.22c948"]]},{"id":"be05f75e.9514a8","type":"subflow:d844c12b.f9f0d8","z":"a274d783.b88e98","name":"","env":[],"x":4780,"y":1660,"wires":[]},{"id":"212737bd.22c948","type":"change","z":"a274d783.b88e98","name":"setear clave","rules":[{"t":"set","p":"key","pt":"msg","to":"userFound.usuario","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4750,"y":1600,"wires":[["be05f75e.9514a8"]]},{"id":"25d2f442.19c884","type":"subflow:d844c12b.f9f0d8","z":"a274d783.b88e98","name":"","env":[],"x":2980,"y":1840,"wires":[]},{"id":"1c164056.f10f","type":"change","z":"a274d783.b88e98","name":"setear clave","rules":[{"t":"set","p":"payload","pt":"msg","to":"payloadOriginal.usuario","tot":"msg"},{"t":"set","p":"key","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payloadOriginal","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2770,"y":1840,"wires":[["25d2f442.19c884"]]},{"id":"9d826f80.7451a","type":"subflow:55d3b446.72a5ac","z":"a274d783.b88e98","name":"","env":[],"x":2990,"y":2080,"wires":[["b829c74.a565038"]]},{"id":"6a1f1c28.ed9f74","type":"change","z":"a274d783.b88e98","name":"set payload with username","rules":[{"t":"set","p":"payload","pt":"msg","to":"usuario","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2720,"y":2080,"wires":[["9d826f80.7451a","a064632e.981b68"]]},{"id":"b829c74.a565038","type":"switch","z":"a274d783.b88e98","name":"seguir si existe token en REDIS","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":3270,"y":2080,"wires":[["e06f25ef.f9c8"]]},{"id":"e06f25ef.f9c8","type":"change","z":"a274d783.b88e98","name":"setear clave","rules":[{"t":"set","p":"key","pt":"msg","to":"usuario","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3210,"y":2140,"wires":[["77c4a40e.3a01b4"]]},{"id":"77c4a40e.3a01b4","type":"subflow:d844c12b.f9f0d8","z":"a274d783.b88e98","name":"","env":[],"x":3240,"y":2220,"wires":[]},{"id":"f3a82f46.b0a68","type":"subflow:55d3b446.72a5ac","z":"a274d783.b88e98","name":"","env":[],"x":4450,"y":3320,"wires":[["84caadcd.13ffb8"]]},{"id":"1b3c5997.e447fe","type":"change","z":"a274d783.b88e98","name":"set payload with username","rules":[{"t":"set","p":"payload","pt":"msg","to":"usuario","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4200,"y":3320,"wires":[["f3a82f46.b0a68"]]},{"id":"84caadcd.13ffb8","type":"switch","z":"a274d783.b88e98","name":"seguir si existe token en REDIS","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":4610,"y":3400,"wires":[["af88c4e6.3b6d1"]]},{"id":"af88c4e6.3b6d1","type":"change","z":"a274d783.b88e98","name":"setear clave","rules":[{"t":"set","p":"key","pt":"msg","to":"usuario","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4550,"y":3460,"wires":[["28bb3873.69c19"]]},{"id":"28bb3873.69c19","type":"subflow:d844c12b.f9f0d8","z":"a274d783.b88e98","name":"","env":[],"x":4580,"y":3520,"wires":[]},{"id":"a54a2347.35bee8","type":"inject","z":"a274d783.b88e98","name":"","topic":"test","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":4300,"wires":[["8851705c.8b6ac"]]},{"id":"49f41df9.06d0ac","type":"debug","z":"a274d783.b88e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":4300,"wires":[]},{"id":"8851705c.8b6ac","type":"redis-command","z":"a274d783.b88e98","server":"b7397635.946808","command":"get","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":280,"y":4300,"wires":[["49f41df9.06d0ac"]]},{"id":"879770d9.1b36d","type":"debug","z":"a274d783.b88e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":2880,"wires":[]},{"id":"c924b47b.2d4db","type":"json","z":"a274d783.b88e98","name":"","property":"payload","action":"","pretty":false,"x":890,"y":2740,"wires":[["6940f55d.6f6c0c"]]},{"id":"fa848ced.7f235","type":"switch","z":"a274d783.b88e98","name":"Verificar si existe token en REDIS","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1460,"y":3960,"wires":[["2fda5191.d6124e"],["b82b2531.8bf5a"]]},{"id":"a09af6f8.da1a7","type":"subflow:55d3b446.72a5ac","z":"a274d783.b88e98","name":"","env":[],"x":1170,"y":3960,"wires":[["fa848ced.7f235","a2a5b05d.5033e"]]},{"id":"e52f7a92.d53dc8","type":"switch","z":"a274d783.b88e98","name":"Verificar validez token","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":3920,"wires":[["238c88f0.818b38"],["237b2532.bed002"]],"outputLabels":["Token invalido","Token valido"]},{"id":"238c88f0.818b38","type":"subflow:50bd2945.e2b2e8","z":"a274d783.b88e98","name":"[403] Token invalido","env":[],"x":970,"y":3880,"wires":[]},{"id":"b82b2531.8bf5a","type":"subflow:e99d4db5.0bfe5","z":"a274d783.b88e98","name":"[200] Token valido","env":[],"x":1730,"y":4000,"wires":[]},{"id":"237b2532.bed002","type":"change","z":"a274d783.b88e98","name":"setear clave","rules":[{"t":"set","p":"payload","pt":"msg","to":"token.usuario","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":3960,"wires":[["a09af6f8.da1a7"]]},{"id":"2fda5191.d6124e","type":"subflow:50bd2945.e2b2e8","z":"a274d783.b88e98","name":"[403] Token invalido","env":[],"x":1730,"y":3920,"wires":[]},{"id":"a2a5b05d.5033e","type":"debug","z":"a274d783.b88e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":4020,"wires":[]},{"id":"a064632e.981b68","type":"debug","z":"a274d783.b88e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2940,"y":2160,"wires":[]}]